@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: hwb(20 98% 1%);
}

body {
    font-family: 'Poppins', sans-serif;

    background-image: url(/FC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.sec-1 { 
    text-align: center;
    


}

.center-1 { 
    text-align: center;
    color: aliceblue;

}
 
.center-2 { 
    text-align: center;
    color: aliceblue; 

}